.App {
  text-align: center;
}
.rootDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #edf7f6;
  width: 100vw;
  height: 100vh;
}
.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer > label {
  align-self: start;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.imageContainer > label > input {
  width: 250px;
  margin-bottom: 14px;
}
button {
  background-color: darkblue;
  color: white;
  border-radius: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 150px;
  font-size: 14px;
}
button:hover {
  scale: 1.03;
  font-size: 15px;
}
.title {
  font-size: 30px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 2.2rem;
  margin-bottom: 0.8rem;
}
.memeImg {
  margin-bottom: 1rem;
  border-radius: 2px;
}
.selectMemeButton {
  margin-bottom: 18px;
}
.memeTemplateInput {
  align-self: start;
}
